* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Lucida Grande";
  }
  
  a {
    text-decoration: none;
  }
  
  .clear {
    clear: left;
  }
  
  .container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }
  
  .top-wrapper {
    padding: 80px 0 100px 0;
    background-image: url(https://lh3.googleusercontent.com/proxy/gGfZOMDXvIL2wbCI3hAzBTBYdrHknHxLOE_dYPmt6H7Fd1GxnF2yyLgIsHDCGLGqoCysIxJ7xbtQekohiF_p4I7BXtBkTCLfVEvEhgYaeq3TF30I-TiMr2KxXuhzQmpp5A=w1200-h630-p-k-no-nu);
    background-size: cover;
    color: rgba(227, 240, 229, 0.842);
    text-align: center;
  }
  
  .top-wrapper h1 {
    opacity: 0.7;
    font-size: 30px;
    letter-spacing: 5px;
    margin-bottom: 10px;
  }
  
  .top-wrapper p {
    opacity: 0.7;
    margin-bottom: 3px;
  }
  
  .btn-wrapper {
    text-align: center;
    margin: 20px 0;
  }
  
  .btn-wrapper p {
    margin: 10px 0;
  }
  
  .signup {
    background-color: #070aa5;
  }
  
  .facebook {
    background-color: #4569b8;
    margin-right: 10px;
  }
  
  .twitter {
    background-color: #55acee;
  }
  
  .btn {
    padding: 12px 24px;
    color: rgb(253, 253, 253);
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    text-align: center;
  }
  
  .btn:hover {
    opacity: 1;
  }
  
  .fa {
    margin-right: 5px;
  }
  
  header {
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    position :fixed;
    top: 0;
    z-index: 10;
  }
  
  .logo {
    width: 124px;
    margin-top: 20px;
  }
  
  .header-left {
    float: left;
  }
  
  .header-right {
    float: right;
    margin-right: -25px;
  }
  
  .header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: rgb(150, 250, 242);
    display: block;
    float: left;
    transition: all 0.5s;
  }
  
  .header-right a:hover {
    background-color: rgba(42, 215, 228, 0.3);
  }
  
  /* Tambahkan CSS untuk menu-icon */
   .menu-icon {
    color: rgb(236, 171, 171);
    float: right;
    font-size: 25px;
    padding: 21px 0;
    /* Gantikan property display ke none */
    display:none;
  }
  
  
  
  .lesson-wrapper {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #aff1b8;
    text-align: center;
  }
  
  .heading {
    padding-top: 80px;
    padding-bottom: 50px;
    color: #5f5d60;
  }
  
  .heading h2 {
    font-weight: normal;
  }
  
  .lesson {
    float: left;
    width: 25%;
  }
  
  .lesson-icon {
    position: relative;
  }
  
  .lesson-icon p {
    position: absolute;
    top: 44%;
    width: 100%;
    color: rgb(255, 255, 255);
  }
  
  .text-contents {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 15px;
    color: rgb(112, 121, 247);;
  }
  
  .heading h3 {
    font-weight: normal;
  }
  
  .message-wrapper {
    border-bottom: 1px solid rgb(37, 126, 209);
    padding-bottom: 80px;
    text-align: center;
  }
  
  .message {
    padding: 15px 40px;
    background-color: #556ee0;
    cursor: pointer;
    box-shadow: 0 7px #1131c2;
  }
  
  .message:active {
    position: relative;
    top: 7px;
    box-shadow: none;
  }
  
  footer img {
    width: 125px;
  }
  
  footer p {
    color: #4e8be7;
    font-size: 12px;
  }
  
  footer {
    padding-top: 30px;
    padding-bottom: 20px;
  }
